
<div class="ff">

    <img src="https://www.firstfiddle.in/assets/images/new-careers-1.jpg" alt="" class="ff">

</div><br><br>

<div>
    <H2 class="text-center ml-1">
        <b>COME WORK </b>
        <b style="color: #fbaa1a;">WITH US!</b> <br><br>
    </H2>
    </div>
    <div class="container">
        <div class="col-md-12">
            <p class="">
                First Fiddle is all about innovation, creativity and understanding ever-changing 
                consumer needs. The work environment enables both professional and personal growth.
            </p>
        </div>

     
    <H2 class="text-center ml-1">
        <b>HOW TO </b>
        <b style="color: #fbaa1a;">APPLY !</b> <br><br>
    </H2>
    </div>
    <div class="container">
        <div class="col-md-12">
            <p class="">
                
First Fiddle is all about innovation, creativity and understanding ever-changing consumer needs. 
The work environment enables both professional and personal growth.
            </p>
        </div>



