// .ml{
//     padding-top: 50px;
//     font-family: prague;
//     letter-spacing: 1px;
//     text-transform: uppercase;
//     font-size: 40;
// }
// .text{
//     text-align: justify;
//     line-height: 40px;
//     letter-spacing: 1px;
//     word-spacing: 1px;
//     margin-top: 80px;
//     font-weight: 100;
// }
// // .b{
// //     background: url();
// // }

.k{
    font-size: 40px;
    color: #fbad1b;
}
.l{
    background: url(http://www.fristfiddle.in/assest/images/gamebanne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 50%;
}
.mt{
    padding-top: 50%;
    font-family: prague;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 35%;
}
.lt{
    margin-top: 30px;
    text-align: center;
}
.dt{
    margin-top: 40px;
}
.tx{
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.mp{
    text-align: center;
}
.pd{
    padding: 10px;
}
.bot{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.foot{
    padding-top: 30px;
    padding-bottom: 30px;
}
.container-fluid{
    background-color: #020306f0;
    padding: 50px;
    color: #fff;
}
.i{
    color: #ffad00;
    
}
