<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center">
                <img src="https://firstfiddle.in/assets/images/ff-logo-02.png" class="w-50" alt="">
            </div>
            <div class="col-md-7">
                <div class="g">
                    <h2><span style="color:#ffad00; ;">CONTACT</span> US</h2>
                    <p class="text-white">
                        We're a team focusing on redefining the way the hospitality industry
                         works by bringing in concept based restaurants across India. We are truly
                          committed to catering to the ever-changing cosmopolitan taste of the customer 
                          and revolutioning the F & B industry!
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-warning">Address</h5>
                        <p class="text-white">
                            6, Chanakyapuri Shopping Complex, 48, Malcha Marg,
                             New Delhi 110021
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5 class="bot">Franchise Enquiry</h5>
                        <p class="text-white"><span class="text-white">Mobile:</span>+917899661627<br>
                        <span class="text-white">Email:</span>franchise@fristlfiddle.in</p>
                    </div>
                </div>
            </div>
            <div class="k">
                <i class="fa fa-linkedin-square" style="color: #ffad00;" aria-hidden="true"></i>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fab fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>

         </div> <!-- row-end -->
    </div> <!-- container-end-->

</div><!-- container-fluid-end-->

<div class="container-fluid bg-dark foot">
    <div class="col-md-12 text-center">
        <p>
            <a href="" class="bot">PRIVACY POLICY | TERMS AND CONDITIONS | BLOG</a><BR>
              <a href="" class="bot">COPYRIGHT © 2021 FIRST FIDDLE F&B PRIVATE LIMITED</a>  
        </p>
     </div><!-- col-md-12 -->
</div> <!--container-fluid-->
