<div class="p-4 bg-danger text-white text-center">
    <h1>Attribute Directives in angular 14</h1>
    <ul style="list-style-type: none ;">
        <li class="display-4">NgStyle</li>
        <li class="display-4">NgStyle</li>
    </ul>
</div>

<div class="comatoiner mt-5">
    <button [ngStyle]="{'color':'blue'}">submit form</button>
    <button [ngStyle]="mystyle">submitfomr1</button>
</div>

<h3>ng class</h3>
<div class="container mt-5 text-center">
    <p [ngClass]="'color fontme borderme'">pninfosys
        shareen khan is my name.
        yes i am shahreen khan.
        its me shahreen.
    </p>

<p >
<p [ngClass]="myclass">shareen
</p>

</div>
