<div class="container my-3 py-5 ">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-end my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Employee
  </button>
    <table class="table table-danger"  >
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
         
        <tr *ngFor= "let d of newsdata">
          
          <td>{{d._id}}</td>
          <td>{{d.title}}</td>
          <td>{{d.body}}</td>
          <td>{{d.description}}</td>
          <td>
            <a  class="btn btn-info" [routerLink]="['/view_blog/',d._id]">View</a>
            <a class="btn btn-success">Edit</a>
            <a class="btn btn-danger">Delete</a>
          </td>

      </tr>
         
        </tbody>
      </table>
          </div>

          
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="addblog()">
                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" 
                        formControlName="title" class="form-control"
                         id="inputEmail" placeholder="Title">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Body</label>
                    <div class="col-sm-10">
                        <input type="text"
                        formControlName="body" class="form-control" id="inputEmail" placeholder="Body">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text"
                        formControlName="description" class="form-control" id="inputEmail" placeholder="Description">
                    </div>
                </div>
                <!-- <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div> -->
                <!-- <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkRemember">
                                <label class="form-check-label" for="checkRemember">Remember me</label>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div> -->
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="mdi mdi-diving-scuba-tank-multiple:"></i></button> -->
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
     
      </div>
    </div>
  </div>