<!-- <div class="fff">
<img src="https://www.firstfiddle.in/assets/images/new-about-us-1.jpg" alt="" class="fff">
</div>
 <div class="container-fluid">
            <div class="container">
        <H2 class="text-center ml-1">
            <b> ONCE UPON </b>
            <b style="color: #fbaa1a;">TIME</b> <br><br>
        </H2>
        <div class="row">
        <div class="col-md-7">
            <p class="ff">First Fiddle Restaurants, formerly known as The Lazeez Affaire Group,
                was conceived in the year 1999 by Priyank Sukhija and Y.P. Ashok. Since then, 
                the company has made a name for itself as innovators and leaders in the industry. 
                Starting with their first brand, Lazeez Affaire, Priyank popularised the
                 conceptof fine dining at a time when the same was unheard of. Following its 
                 success, First Fiddle introduced the concept of casual dining with brands such 
                 as Warehouse Cafe, Tamasha, Lord of The Drinks, Flying Saucer Cafe, and more, 
                 storming Delhi’s nightlife. WIth each new brand, First Fiddle brought a concept 
                 that was never experienced or heard of before, such as Plum by Bent Chair, Miso 
                 Sexy, Diablo, and more. The restaurants are spread all over India in major 
                 metropolitan cities like New Delhi, Mumbai, Pune, Lucknow and more, with plans 
                 to expand internationally soon.</p><br>
                       
            </div>
            <div class="col-md-5" >
                    <img src="https://firstfiddle.in/assets/images/ffbanner1.jpg" alt="about" class="frist_img">
                </div>
            </div>
        </div>
        </div><br><br>


<div class="container-fluid">
    <div class="container">
        <H2 class="text-center ml-1">
            <b> THE MAN BEHIND </b>
            <b style="color: #fbaa1a;">THE FIDDLE</b> <br><br>
        </H2>
        <div class="row">
            <div class="col-md-5" >
                <img src="https://www.firstfiddle.in/assets/images/about/about-priyank.jpg" alt="about" class="frist_img">
            </div>
            <div class="col-md-7">
                <p class="ff">With over 30 restaurants in 23 years under his belt, the prolific 
                restaurateur Priyank Sukhija has become somewhat of a legend in the industry,
                 starting his journey at a mere age of 19. Priyank was the first in his family
                  to venture into business, hailing from a family of lawyers, going on to 
                  create an empire in F&B. Following his heart and tongue through his F&B 
                  career, Priyank has successfully created some of the most talked-about 
                  brands in the industry - Diablo, Lord of the Drinks, Plum by Bent Chair,
                   Lazeez Affaire, Tamasha, The Flying Saucer Cafe, and many more.
                </p><br>
            </div>
        </div>
        </div>
    </div><br><br>

            <div class="container-fluid">
            <div class="container">
                <H2 class="text-center ml-1">
                    <b>JOIN</b>
                    <b style="color: #fbaa1a;"> OUR FAMILY </b> <br><br>
                </H2>
               <div class="row">
            <div class="col-md-7">
                <p class="ff">At First Fiddle Restaurants, we leave no stone unturned to provide the
                     most desirable experience across markets and restaurants. Serving over five lakh
                      customers monthly with 15+ brands and 35+ restaurants, our brands like Diablo,
                       Plum by Bent Chair, Dragonfly Experience, Tamasha, Daddy, JLWA, and more have 
                       revolutionized the experience of dining & nightlife for everyone. Exploring a
                        franchise with First Fiddle Restaurants provides you with a large existing 
                        customer base besides the added advantage of nation-wide recognition.
                        </p>
                        </div>
               
            <div class="col-md-5">
                <img src="https://www.firstfiddle.in/assets/images/about/333X3322.jpg" alt="about" class="frist_img">
            </div>
        </div>
    </div>
    </div><br><br> -->


    <p>for works!</p>
<table  class="table table-borderd ">
    
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>email</th>
        </tr>

        <tr *ngFor= "let d of data">
            <th scope="row">{{d.id}}</th>
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.age}}</td>
            <td>{{d.email}}</td>

        </tr>
    
</table>

