
<div class="ff">

    <img src="https://www.firstfiddle.in/assets/images/CONTACT-US.jpg" alt="" class="ff">

</div><br><br>

<div>
    <table  class="table table-borderd ">
    
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>email</th>
        </tr>

        <tr *ngFor= "let n of data">
            <th scope="row">{{n.id}}</th>
            <td>{{n.id}}</td>
            <td>{{n.name}}</td>
            <td>{{n.age}}</td>
            <td>{{n.email}}</td>

        </tr>
    
</table>


</div>

