
<table class="table table-danger"  >
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <!-- <th scope="col">Description</th> -->
        <!-- <th scope="col">Action</th> -->
      </tr>
    </thead>
    <tbody>
     
    <!-- <tr *ngFor= "let d of student"> -->
      <tr>
      <td>{{teamviewdata.id}}</td>
      <td>{{teamviewdata.title}}</td>
      <td>{{teamviewdata.body}}</td>
      <!-- <td>{{d.description}}</td> -->
     

  </tr>
     
    </tbody>
  </table>
