<!-- <app-header></app-header>
 <router-outlet></router-outlet>
<app-footer></app-footer>  -->
<!-- <app-interpolation-binding></app-interpolation-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->

<!-- <app-style-binding></app-style-binding> -->
<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- teacher[edit,delete,view,display] -->
<!-- <app-if></app-if> -->
<!-- <app-for></app-for> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-switch></app-switch> -->
<!-- <app-child [parenttochild]='title'></app-child>
<app-child [s]='students'></app-child> -->
<!-- <app-api></app-api> -->
<!-- <app-newsapi></app-newsapi> -->
<!-- <app-displayemployee></app-displayemployee> -->
<!-- <app-display></app-display> -->

<router-outlet></router-outlet>
