.ff{
    width: 100%;
}
.image{
    text-align: left;
}
.ff{
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    line-height: 35px;
}
.first {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}    