
<div class="ff">

        <img src="https://www.firstfiddle.in/assets/images/new-our-team.jpg" alt="" class="ff">
  
</div><br><br><br>
<div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-5" >
                    <img src="https://www.firstfiddle.in/assets/images/about/about-priyank.jpg" alt="about" class="frist_img">
                </div>
                <div class="col-md-7">
                        <h2>Prinyak Sukhija</h2>
                        <h5>C.E.O. & M.D.</h5>
                    <p class="ff">A 19-year-old dropout kid, who was just setting up his first venture, envisioned what nobody
                        thought would make him a business tycoon in the hospitality industry. Once he began, there
                         was no stopping this entrepreneur from reaching the heights he has reached today. It is the
                          passion and creative streak of Priyank Sukhija that has made him the most watched-out 
                          restaurateur of today’s time. Coming from a family of lawyers, he ventured into the
                           business world on his own with Lazeez Affaire in 1999 and has never looked back 
                           since.
                    </p><br>
                </div>
            </div>
            </div>
        </div><br><br>

