<app-carousel></app-carousel><br>
<div class="container-fluid">
    <div class="container">
<H2 class="text-center ml-1">
    <b> WELCOME TO </b>
    <b style="color: #fbaa1a;">FIRST FIDDLE</b> <br><br>
</H2>
<div class="row">
<div class="col-md-7">
    <p class="first">First Fiddle Restaurants, one of India’s most prominent F&B 
            companies in the casual dining sector, is headed by Priyank 
            Sukhija. Starting the journey from Lazeez Affair in 1999 to 
            Miso Sexy and Bougie in 2022, we have created wave after 
            wave in the industry with over 30+ restaurants, brands,
             and franchises across India.</p><br>
             <button class="btn btn-warrning text-white btn btn-lg ms-auto mt-5 bg-info"[routerLink]="['/view/',1]">join the journey</button>
             <button class="btn btn-warrning text-white btn btn-lg ms-auto mt-5 bg-danger"[routerLink]="['/edit/',2]">Edit</button>
    </div>
    <div class="col-md-5" >
            <img src="https://firstfiddle.in/assets/images/ffbanner1.jpg" alt="about" class="frist_img">
        </div>
    </div>
</div>
</div><br><br>
<div class="container-fluid b">
<div class="ff">
    <div class="col-md-2">
        </div>
        <div class="col-md-8 ">
        <br><br><h2>MEDIA MENTIONS</h2>
        <p class="ss">We’ve been making splashes and headlines since 1999 for our innovative concepts 
            and aesthetic ideations, experimental gastronomic affairs, and exotic mixology.
             We’ve made our way from the heart of the country into the hearts of its people!</p>
<button class="btn mtop text-white btn btn-lg ms-auto mt-5 bg-info"[routerLink]="['/view/',1]">KNOW MORE</button>
    </div>
    <div class="col-md-2">

</div> <!--row end-->
</div> <!--container end-->
</div> <!--container fluid end--><br>
<div class="container large">
    <div>
        <H2 class="text-center ml-1">
            <b> EXPLORE </b>
            <b style="color: #fbaa1a;">OUR BRANDS</b> <br><br>
        </H2>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="col-md-3">
            <div class="col-md-3 text-center">
                <img src="https://firstfiddle.in/assets/images/explore_brand/bougie.jpg" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="https://firstfiddle.in/assets/images/explore_brand/miso.jpg" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="https://firstfiddle.in/assets/images/explore_brand/butter-room.jpg" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="https://firstfiddle.in/assets/images/explore_brand/diablo.jpg" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="https://firstfiddle.in/assets/images/explore_brand/lord-of--the--drinks.jpg" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="https://firstfiddle.in/assets/images/explore_brand/openhouse.jpg" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="https://firstfiddle.in/assets/images/explore_brand/plum.jpg" alt="">
            </div>
            </div>
            </div>
            </div>

<div class="fff">
<div class="col-md-6">
    <h2>EXPERIENCE OUR CONCEPTS</h2>
    <p>Moving beyond just offering Indian, international, and fusion cuisines, 
        our restaurants create magic with our special events, mood-setting music, 
        Insta-worthy aesthetics, and tongue-tingling signatures! Head over to 
        experience it for yourself!</p>

</div>
</div> 

