.first {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.ff{
   background-image: url('https://www.firstfiddle.in/assets/images/bannerabout.jpg');
   color: white;
   text-align: justify;
   background-size: cover;
}
.ml-1 {
    padding-top: 20px;
    font-family: 'prague';
    letter-spacing: 3px;
}
.text-center {
    text-align: center!important;
}

.fff{
    background-image: url('https://www.firstfiddle.in/assets/images/outletbanner.png');
    color: white;
    text-align: justify;
    background-size: cover;
 }


 .element.style {
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
}
.ss{
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
}
.btn{
    background-color: #fbac29;
    border-radius: 0px;
    box-shadow:0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}